/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0fff0; /* Verde muy claro */
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
}

h1, h2 {
    color: #333;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

/* Portfolio Page Styles */
.portfolio-section {
    background-color: #f0fff0; /* Fondo verde muy claro */
    border: 5px solid #e60073; /* Borde fucsia */
    padding: 20px;
    margin: 20px auto;
    max-width: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(90deg, #3cb371 1px, transparent 1px), 
                      linear-gradient(#3cb371 1px, transparent 1px); /* Cuadros verdes */
    background-size: 20px 20px;
}

.portfolio-section h2 {
    text-align: center;
    color: #333;
}

/* Grid layout for the portfolio items */
.portfolio-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.portfolio-item {
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.portfolio-item:hover {
    transform: scale(1.05);
}

.portfolio-item img {
    max-width: 50%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.portfolio-item h3 {
    color:blue;
}

/* Footer */
footer {
    background-color: #333;
    color: grey;
    padding: 20px;
    text-align: center;
}
